# app.yaml: The main configuration file for your Arduino App.
# This file describes the application's metadata and properties.

# The user-visible name of the application.
name: {{ .Name }}

# The icon for the application, can be an emoji or a short string.
icon: {{ .Icon }}

# A list of network ports that the application exposes.
# Example: [80, 443]
ports: [{{ joinInts .Ports }}]

# A list of bricks used by this application.
bricks: []
